@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');


:root {
    --color-black: #010101;
    --color-white: #fdfdfd;
    --color-red: #E50914;
    --color-red-dark: #b8141c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: var(--color-white);
}

body {
    height: 100vh;
    background-color: var(--color-black);

}


/* ------------------- HEADER ----------------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.center {
    max-width: 1000px;
    margin: 0 auto;
}

.logo img{
    width: 150px;
}

.botoes {
    display: flex;
    gap: 30px;
    position: relative;
    align-items: center;
}

.botoes select {
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid rgb(255,255,255,.3);
    border-radius: 5px;
    width: 130px;
    height: 35px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    z-index: 10;
}

.botoes select option {
    background-color: #777;
    color: var(--color-white);
}

.bx {
    color: var(--color-white);
}

.bx-globe {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 11px;
    font-size: .9rem
    
}

.bxs-down-arrow {
    position: absolute;
    right: 120px;
    top: 50%;
    transform: translateY(-50%);
    font-size: .7rem;
}

.btn-entrar-header {
    background-color: var(--color-red);
    color: var(--color-white);
    text-align: center;
    width: 80px;
    height: 35px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.btn-entrar-header:hover {
    background-color: var(--color-red-dark);
}

.section-principal {
    background: linear-gradient(to bottom, rgba(0,0,0,.8) 10%, rgba(0,0,0,.1), rgba(0,0,0,.8) 90%), url('../img/background-header.jpg');
    height: 100vh;
    border-bottom: 7px solid #333;
    padding-top: 15px;
    border-bottom: 5px solid #333;
} 


@media (max-width: 750px) {
    .logo img {
        width: 100px;
    }

    .botoes {
        gap: 15px;
    }

    .botoes select {
        font-size: 0.1px;
        width: 70px;
    }
}

@media (max-width: 415px) {
    .header {
        padding: 30px 10px;
    }

    .botoes select {
        width: 50px;
    }

    .btn-entrar-header {
        width: 70px;
    }

    .bx-globe {
        left: 7px;
    }

    .bxs-down-arrow {
        right: 95px;
    }
}
/* ---------------- fim header --------------------------*/


/* ------------------hero section -----------------------*/

.hero {
    color: var(--color-white);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    padding: 10vw 5vw 0 5vw;
}

h1 {
    font-size: max(1.7rem, 3.3vw);
}

p {
    font-size: max(.9rem, 1.8vw);
}

h2 {
    font-size: max(1.8rem, 3.3vw);
}

h3 {
    font-size: max(1rem, 1.7vw);
    font-weight: 400;
}


.form-vamosla {
    display: flex;
}

.hero .form-vamosla {
    margin-top: -10px;
}

.email {
    width: 381px;
    padding: 15px;
    border-radius: 5px 0 0 5px;
    height: 56px;
    color: var(--color-black);
    font-size: 1.1rem
}

.btn-vamosla {
    width: 172px;
    background-color: var(--color-red);
    color: var(--color-white);
    border-radius: 0 5px 5px 0;
    height: 56px;
    font-size: 1.3rem;
    cursor: pointer;
}

@media (max-width: 960px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.1rem;
    }
}

@media (max-width: 710px) {
    .email {
        width: 80vw;
    }

    .btn-vamosla {
        width: 50vw;
    }

    .form-vamosla {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}

@media (max-width: 590px) {
    .hero {
        padding-top: 17vw;
    }
    
    .botoes-hero {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    #email {
        width: 80vw;
        border-radius: 5px;
    }

    .btn-vamosla {
        border-radius: 5px;
        width: 150px;
    }
}
/* ------------fim hero section -----*/


/* =======---------= section 2 ==============-------=*/

.section2 {
    color: var(--color-white);
    display: flex;
    align-items: center;
    padding: 8vw 10vw;
    border-bottom: 5px solid #333;
}

.texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.imagem {
    width: 50%;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.imagem img {
    width: 100%;
}

.videotv {
    position: absolute;
    left: 13.5%;
    top: 21%;
}

@media (max-width: 960px) {
    .section2 {
        flex-direction: column;
        text-align: center;
        
    }

    .texto {
        width: 80vw;
        margin-bottom: 3vw;
    }

    .imagem {
        width: 70vw;
        margin-bottom: 3vw;
    }
}
/* ---------- fim section2 ---------- */


/* --------------- section 3 --------------*/

.section3 {
    display: flex;
    align-items: center;
    padding: 5vw 3vw;
    border-bottom: 5px solid #333;
    gap: 25px;
    padding-top: 8vw;
}

.section3 .imagem {
    position: relative;
}

.section3 .texto {
    width: 40%;
}

.section3 video {
    position: absolute;
    top: 11.7%;
    left: 20.4%;
    z-index: -1;
}

@media (max-width: 960px) {
    .section3 {
        flex-direction: column-reverse;
        gap: 0;
    }
    .section3 .texto {
        width: 100%;
        text-align: center;
    }
}

/* ----------fim section 3 ---------*/


/* ----------------- section 4 -------------*/

.section4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8vw 5vw;
    border-bottom: 5px solid #333;
}

.section4 .texto {
    width: 37vw;
}

.section4 img {
    width: 90%;
}


@media (max-width: 960px) {
    .section4 {
        flex-direction: column;
    }

    .section4 .texto {
        width: 100%;
        text-align: center;
    }

    .section4 img {
        margin-left: 35px;
    }

}

/* -------- fim section 4 ----------- */


/* ------------------- section 5 --------------- */

.section5 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vw;
    border-bottom: 5px solid #333;
}

.section5 img {
    width: 80%;
    margin-bottom: 20px;
}


@media (max-width: 960px) {
    .section5 {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .section5 img {
        width: 80%;
    }
}

/* ---------- fim section 5 ---------- */


/* ---------------- section FAQ ------------ */

.faq {
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-bottom: 5px solid #333;
}

.perguntas {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.faq-question {
    background-color: #333;
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    width: 60vw;
    padding: 30px;
    cursor: pointer;
}

.bx-plus {
    font-size: 2rem;
}

.faq-answer {
    background-color: #333;
    color: var(--color-white);
    padding: 30px;
    width: 814px;
    margin-top: -8px;
    display: none;
}

.faq-answer-show {
    display: block;
}

.sectionHide .faq-answer{
    display: none;
}

.sectionShow .faq-answer{
    display: block;
}

.faq h3 {
    text-align: center;
}


@media (max-width: 960px) {
    .faq-question {
        width: 75vw;
    }
}

@media (max-width: 720px) {
    .faq-question {
        width: 98vw;
    }

    .perguntas p {
        font-size: max(.8rem, 1rem);
    }

    .email {
        padding: 15px;
        border-radius: 5px 0 0 5px;
        height: 56px;
    }
    
    .btn-vamosla {
        width: 28vw;
        background-color: var(--color-red);
        color: var(--color-white);
        border-radius: 0 5px 5px 0;
        height: 56px;
        font-size: 1.3rem;
    }
}

/* ------------- fim section faq ------------- */

/* ---------------- footer ------------------- */

footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

footer p {
    font-size: 1rem;
    color: #777;
}

footer nav ul {
    height: 170px;
    display: flex;
    flex-wrap: wrap;
}

footer nav ul div {
    display: flex;
    flex-direction: column-reverse
}

footer nav ul li {
    width: 25%;
}

footer nav ul li a {
    color: #777;
    font-size: .9rem;
}

footer .botoes .bxs-down-arrow {
    left: 108px;
}

footer .botoes .bx, footer .botoes select{
    color: #aaa
}

footer span {
    font-size: .9rem;
    color: #777;
}


@media (max-width: 960px) {
    footer nav ul li {
        width: 33.333%;
    }
}

@media (max-width: 750px) {
    footer .botoes .bxs-down-arrow {
        left: 50px;
    }

    footer nav ul li {
        width: 50%;
    }

    footer nav ul {
        height: 300px;
    }
}

@media (max-width: 416px) {
    footer .botoes .bxs-down-arrow {
        left: 30px;
    }
}