@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');


:root {
    --color-black: #010101;
    --color-white: #fdfdfd;
    --color-red: #E50914;
    --color-red-dark: #b8141c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    background-color: var(--color-black);

}


/* ------------------- HEADER ----------------------------------*/
header {
    padding: 50px 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 150px;
}

.botoes {
    display: flex;
    gap: 30px;
    position: relative;
}

.botoes select {
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 2px;
    padding: 8px 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    z-index: 10;
}

.botoes select option {
    background-color: #777;
    color: var(--color-white);
}

.bx {
    color: var(--color-white);
}

.bx-globe {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    font-size: .8rem
}

.bxs-down-arrow {
    position: absolute;
    right: 110px;
    top: 50%;
    transform: translateY(-50%);
    font-size: .7rem;
}

.btn-entrar-header {
    background-color: var(--color-red);
    color: var(--color-white);
    padding: 5px 15px;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
    transition: .5s;
}

.btn-entrar-header:hover {
    background-color: var(--color-red-dark);
}

.section-principal {
    background: linear-gradient(to bottom, rgba(0,0,0,.8) 10%, rgba(0,0,0,.1), rgba(0,0,0,.8) 90%), url('../img/background-header.jpg');
    height: 100vh;
    border-bottom: 7px solid #333;
} 


/* ------------------------Hero banner -----------------*/
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    color: var(--color-white);
    padding-top: 150px;
    width: 100%;
}

.hero-form {
    width: 590px;
    height: 56px;
    display: flex;
    margin-top: -7px;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: 900;
}

.hero p {
    font-size: 1.5rem;
}

.hero h3 {
    font-size: 1.4rem;
    font-weight: 400;
}

#email {
    padding: 15px;
    width: 60%;
    border-top-left-radius: 3px;
}

.btn-vamosla-hero {
    background-color: var(--color-red);
    color: var(--color-white);
    height: 100%;
    width: 31%;
    font-size: 1.5rem;
    border-top-right-radius: 3px;
    transition: .3s;
    cursor: pointer;
}

.btn-vamosla-hero:hover {
    background-color: var(--color-red-dark);
}








@media screen and (max-width: 760px) {
    .logo img {
        width: 100px;
    }

    .btn-entrar-header {
        font-size: .9rem;
    }

    header {
        padding: 30px 40px;
    }

    .botoes {
        gap: 7px;
    }

    .bxs-down-arrow {
        right: 82px;
        z-index: 0;
    }

    .botoes select {
        font-size: .6rem;
        border-color: #ccc;
    }

    .hero-form {
        width: 620px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        height: 112px;
    }

    .hero {
        padding: 40px;
        text-align: center;
    }

    .hero h1 {
        font-size: 1.7rem;
    }

    .hero p {
        font-size: 1.1rem;
    }

    .hero h3 {
        font-size: 1.2rem;
        
    }

    #email {
        border-radius: 5px;
    }

    .btn-vamosla-hero {
        width: 145px;
        height: 56px;
        border-radius: 5px;
    }

    .section-principal {
        height: 110vw;
    }
}